{% load static %}
{% load i18n %}

<html>

    <!doctype html>
    <!--[if lt IE 7]>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>
        <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!-->
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{% block head_title %}{% endblock %}</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="shortcut icon"
                  href="{% static 'img/icon.png' %}"
                  type="image/x-icon">

            <!-- bloque llamada a estáticos principal -->
            {% block top_front_frameworks %}
            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'semantic/semantic.min.css' %}">

            <link rel="stylesheet"
                  type="text/css"
                  href="{% static 'css/principal.css' %}">
            {% endblock %}

            <!-- Bloque para añadir css extras en header -->
            {% block head_css %}
            {% endblock %}

            <!-- Bloque para añadir js extra en header-->
            {% block head_javascript %}
            {% endblock %}
        </head>

        <body>
            <!-- Ubicación de encabezado del contenido -->
            <header id="main_header"  class="ui container">
                {% block head %}
                {% include 'menu_nav.dj.html' %}
                {% endblock head %}
            </header>
            <main id="all_content
                      {% block main_tag_id %}
                      {% endblock main_tag_id %}
                      " class="ui container">
                <aside id="sidebar_left">
                    {% block sidebar_left %}
                    {% endblock sidebar_left %}
                </aside>
                <article id="main_content">
                    {% block image_article%}
                    {% endblock image_article%}
                    {% block title_article %}
                    {% endblock title_article %}
                    {% block content_article %}
                    {% endblock content_article %}
                </article>
                <aside id="sidebar_right">
                    {% block sidebar_right %}
                    {% endblock sidebar_right %}
                </aside>
            </main>

            <!-- Elemento Inferior dentro de bloque body-->
            <footer>
                <!-- cargar el html de la zona de contacto -->
                {% include 'contacto.dj.html' %}

                <!-- block to load framework -->
                {% block buttom_front_frameworks %}
                <!-- JQUERY:-->
                <script
                    src="{% static 'jquery.js' %}">            
                </script>

                <!-- Semantic:-->
                <script
                    src="{% static 'semantic/semantic.min.js' %}">             
                </script>

                {% endblock %}

                <!-- Añadir CSS Extra en footer -->
                {% block footer_css %}
                {% endblock %}

                <!-- Añadir JS extra en footer -->
                {% block footer_javascript %}
                {% endblock %}
                <footer>

        </body>

    </html>
