{% extends 'base.dj.html' %}
{% block main_tag_id %}
lista_paginas
{% endblock main_tag_id %}
{% load static %}
{% block content_article %}
<h2>Lista de Páginas Publicadas</h2>
<ul>
    {% for pagina in object_list %}
    <li>{% include  'unit_view_pagina.dj.html' pagina %}</li>
    {% endfor %}
</ul>
<!-- Paginador -->

{% include 'paginate.dj.html' is_paginated pag_obj%}
{% endblock content_article %}


{% block footer_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'pagina/lista.css' %}">
{% endblock %}

