<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}
<!--  bloques a utilizar -->
<!-- Título en Ventana -->
{% block title %}
{{sitio.nombre}}|{{object.titulo}}
{% endblock %}
<!-- Tag css id -->
{% block main_tag_id %}
{{object.clasificacion.slug_tipo}}
{% endblock main_tag_id %}
<!-- Imagen de Pagina -->
{% block image_article%}
<figure id="img_pagina">
    <img src="{% static '{{object.imagen}}' %}">
</figure>
{% endblock image_article%}
<!-- Título de Página -->
{% block title_article %}
<h1>
    {{object.titulo}}
</h1>
{% endblock title_article %}
<!-- Contenido de Página -->
{% block content_article %}
<section id="resumen">
    <i>{{object.resumen}}</i>
</section>
<section id="cuerpo">
    {{object.cuerpo}}
</section>
{% endblock content_article %}
