{% extends 'base.dj.html' %}
{% load static %}


<!-- Map library leaflet -->
{% block head_javascript %}
<script
    src="{% static 'mistral_on_map/leaflet/leaflet.js' %}">             
</script>
{% endblock %}


{% block head_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'mistral_on_map/leaflet/leaflet.css' %}">
{% endblock %}


{% block content_article %}
<h1>Arte Mistral en el Mapa</h1>
<ul>
    {% for arte in object_list %}
    <li>{{arte.titulo}}-{{arte.posicion.direccion}}-({{arte.posicion.geo_point.x}},{{arte.posicion.geo_point.y}})</li>
    {% endfor %}
</ul>
<!-- Paginador -->

<div id="mapid"></div>

{% endblock content_article %}


{% block footer_javascript %}
<!-- Load lista de posiciones -->
<script>
 let lista_artes = []

 {% for arte in object_list %}
 instancia_arte = new Object()
 instancia_arte.nombre="{{arte.titulo}}";
 instancia_arte.direccion="{{arte.posicion.direccion}}";
 instancia_arte.posicion=[{{arte.posicion.geo_point.y}},
                           {{arte.posicion.geo_point.x}}];
 instancia_arte.clasificacion="{{arte.clasificacion.tipo}}";
 lista_artes.push(instancia_arte)
 {% endfor %}

</script>
<link rel="stylesheet"
      type="text/css"
      href="{% static 'mistral_on_map/mapa.css' %}">

<script
    src="{% static 'mistral_on_map/mapa.js' %}">             
</script>
{% endblock %}

