{% extends 'base.dj.html' %}
{% load static %}

{% block title %}Inicio de Zonas de Sacrificio{% endblock %}

{% block title_article %}
Zonas de Sacrificio
{% endblock title_article %}


{% block content_article %}
<figure id="img_contacto">
    <img src="{% static './home/img/quintero.jpg' %}">
</figure>
<section>
    <p>
        <i>
            "Son zonas sin derecho ambiental.
            Las justamente denominadas “Zonas de sacrificio” son lugares
            que padecen depredación, dejadas por el Estado a los estragos
            de la devastación industrial, con efectos perjudiciales
            graves al Medio Ambiente y a la Salud de las comunidades locales"</i>
    </p>
    <p>Radio U. de Chile</p>
</section>
{% endblock content_article %}
