{% extends 'base.dj.html' %}
{% load static %}

{% block title %}Proyecto | Zonas de Sacrificio{% endblock %}


{% block title_article %}
El Proyecto
{% endblock title_article %}


{% block content_article %}

<p>El proyecto consiste en un archivo repositorio con toda la información que
    se pueda recopilar acerca de las *zonas de sacrificio*.</p>

<p>Está (estará) concebido para ser dinámico y que pueda generar un relato
visual de los efectos devastadores que tiene la actividad industrial.
</p>

<p>También considera los principales actores que ejecutan o se ven afectados
    en estas zonas.</p>

<p>Concebimos a un *neo juglar* que tenga la importante misión de recabar información y 
    registrarla en la plataforma.</p>

<p>La información debe ser clara, precisa y con niveles de profundidad. Dependiendo 
    del usuario hay distintos niveles de acceso.</p>

<p>Estamos en desarrollo</p>

{% endblock %}
